/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 30, 2015, 11:47:07 AM
    Author     : Student
*/
h1 {
    text-align: center;
    font-family: "Verdana", Geneva, sans-serif;
}
canvas {
    display: block;
    position: absolute;
    border: 5px solid #00ff00;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}